html, body
{
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: white;
	font-family: sans-serif;
}

#container
{
	width: 1000px;
	margin: 0 auto;
	height: 100%;

}

header
{
	background-color: #003366;
	font-size: 100%;
	color: white;
	padding: 5px 10px;
}

#main
{
text-align: center;
	padding: 10px;
	width: 400px;
	height: 200px;
	margin: auto;
	margin-top: 50px;
	
	background-color: #14027a;
	color: white;
	box-shadow: 0 0 10px #333333;
}

#title
{
margin-top: 30px;
	font-family: cursive;
	font-size: 200%;
}

#contact
{
	margin: 30px 75px;
	text-align:left;
}
#contact a
{
	color: #CCCCCC;
}
